<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="TimeoutSecs" value="10" />
    <!-- Scrape List -->
    <add key="ScrapeClio" value="5 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=renault&amp;vehicle_model=clio&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeCorsa" value="8 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=vauxhall&amp;vehicle_model=corsa&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeAstra" value="8 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=vauxhall&amp;vehicle_model=astra&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeFiesta" value="5 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=ford&amp;vehicle_model=fiesta&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeFocus" value="5 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=ford&amp;vehicle_model=focus&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapePolo" value="4 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=polo&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeGolf" value="4 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=golf&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeCivic" value="3 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=honda&amp;vehicle_model=civic&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeA3" value="1 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=audi&amp;vehicle_model=a3&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeA4" value="1 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=audi&amp;vehicle_model=a4&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeAuris" value="1 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=toyota&amp;vehicle_model=auris&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeYaris" value="3 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=toyota&amp;vehicle_model=yaris&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeMegane" value="4 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=renault&amp;vehicle_model=megane&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeI20" value="1 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=hyundai&amp;vehicle_model=i20&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeMicra" value="8 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=nissan&amp;vehicle_model=micra&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapePunto" value="2 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=fiat&amp;vehicle_model=punto&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="Scrape207" value="4 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=peugeot&amp;vehicle_model=207&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
    <add key="ScrapeIbiza" value="1 https://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=seat&amp;vehicle_model=ibiza&amp;distance=50&amp;max_price=2000&amp;min_price=500&amp;photos_filter=true&amp;vehicle_mileage=up_to_80000" />
  </appSettings>
  <connectionStrings>
    <add name="GumtreeScraperConnection" connectionString="Data Source=.;Initial Catalog=GumtreeScraper;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>