<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Settings -->
    <add key="UseProxy" value="true"/>
    <add key="UseSleep" value="true"/>
    <add key="ProxyUrl" value="https://raw.githubusercontent.com/clarketm/proxy-list/master/proxy-list.txt"/>
    <!--<add key="ProxyUrl" value="http://spys.me/proxy.txt"/>-->
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36"/>
    <add key="PageNumberRetries" value="3"/>
    <add key="TimeoutMilliSecs" value="5000" />
    <add key="MinSleepMilliSecs" value="3000" />
    <add key="MaxSleepMilliSecs" value="5000" />

    <!-- Scrape List - (only use HTTP, not HTTPS) -->
    <add key="ScrapeGolfAuto" value="7 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=golf&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=automatic&amp;distance=50&amp;max_price=10000&amp;min_price=5000&amp;photos_filter=true" />
    <add key="ScrapeGolfSemiAuto" value="2 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=golf&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=semi-auto&amp;distance=50&amp;max_price=10000&amp;min_price=5000&amp;photos_filter=true" />
    <add key="ScrapePoloAuto" value="1 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=polo&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=automatic&amp;distance=50&amp;max_price=10000&amp;min_price=4000&amp;photos_filter=true" />
    <add key="ScrapePoloSemiAuto" value="1 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=volkswagen&amp;vehicle_model=polo&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=semi-auto&amp;distance=50&amp;max_price=10000&amp;min_price=4000&amp;photos_filter=true" />
    <add key="ScrapeA3Auto" value="1 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=audi&amp;vehicle_model=a3&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=automatic&amp;distance=50&amp;max_price=10000&amp;min_price=4000&amp;photos_filter=true" />
    <add key="ScrapeA3SemiAuto" value="1 http://www.gumtree.com/search?search_category=cars&amp;search_location=e10lj&amp;vehicle_make=audi&amp;vehicle_model=a3&amp;vehicle_body_type=hatchback&amp;vehicle_transmission=semi-auto&amp;distance=50&amp;max_price=10000&amp;min_price=4000&amp;photos_filter=true" />
  </appSettings>
  <connectionStrings>
    <add name="GumtreeScraperConnection" connectionString="Data Source=.;Initial Catalog=GumtreeScraper;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>